@page
@model BookShop.Pages.Category.EditModel
@{
    ViewData["Title"] = "Edit Category";
}

<h1>Edit Category</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Category.CategoryId" />
            <partial name="_CategoryFormPartial" for="Category" />
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
