@page
@model BookShop.Pages.Author.CreateModel
@{
    ViewData["Title"] = "Create Author";
}

<h1>Create Author</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <div id="message" class="alert" style="display:none;"></div>
        <form id="createAuthorForm" method="post">
            <partial name="_AuthorFormPartial" model="Model.Author" />
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#createAuthorForm').on('submit', function(e) {
                e.preventDefault();
                
                var authorData = {
                    name: $('#Name').val(),
                    biography: $('#Biography').val()
                };
                
                $.ajax({
                    url: '/api/authors',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(authorData),
                    success: function(response) {
                        $('#message').removeClass('alert-danger').addClass('alert-success')
                            .text(response.message).show();
                        $('#createAuthorForm')[0].reset();
                    },
                    error: function(xhr) {
                        $('#message').removeClass('alert-success').addClass('alert-danger')
                            .text('Error creating author. Please check all fields.').show();
                    }
                });
            });
        });
    </script>
}
