@page
@model BookShop.Pages.Customer.EditModel
@{
    ViewData["Title"] = "Edit Customer";
}

<h1>Edit Customer</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Customer.CustomerId" />
            <partial name="_CustomerFormPartial" for="Customer" />
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
