@page
@model BookShop.Pages.Book.EditModel
@{
    ViewData["Title"] = "Edit Book";
}

<h1>Edit Book</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Book.BookId" id="bookId" />
            <div class="form-group">
                <label asp-for="Book.BookTitle" class="control-label"></label>
                <input asp-for="Book.BookTitle" class="form-control" />
                <span asp-validation-for="Book.BookTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.BookDescription" class="control-label"></label>
                <textarea asp-for="Book.BookDescription" class="form-control"></textarea>
                <span asp-validation-for="Book.BookDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.AuthorId" class="control-label">Author</label>
                <select asp-for="Book.AuthorId" class="form-control" asp-items="Model.Authors"></select>
            </div>
            <div class="form-group">
                <label asp-for="Book.CategoryId" class="control-label">Category</label>
                <select asp-for="Book.CategoryId" class="form-control" asp-items="Model.Categories"></select>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublisherId" class="control-label">Publisher</label>
                <select asp-for="Book.PublisherId" class="form-control" asp-items="Model.Publishers"></select>
            </div>
            <div class="form-group">
                <label asp-for="Book.Price" class="control-label"></label>
                <input asp-for="Book.Price" class="form-control" type="number" step="0.01" />
            </div>
            <div class="form-group">
                <label asp-for="Book.Stock" class="control-label"></label>
                <input asp-for="Book.Stock" class="form-control" type="number" />
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
